body{
    background-color: rgb(84, 84, 84);
    font-family: Arial, sans-serif;
}
.titulo{
    color: rgb(32, 0, 0);
    font-size: 36px;
}
.texto{
    color: rgb(22, 22, 22);
    font-size: 24px;
}
.cachorro{
    width: 400px;
}
.link{
    color: rgb(150, 120, 0);
    font-size: 20px;
}
button{
    background-color: rgb(106, 105, 105);
}
#opnião{
    background-color: rgb(154, 154, 154);
    border: 1px solid rgb(0, 0, 0);
}
#email{
    background-color: rgb(154, 154, 154);
    border: 1px solid rgb(0, 0, 0);
}
#password{
    background-color: rgb(154, 154, 154);
    border: 1px solid rgb(0, 0, 0);
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.centralizar form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.centralizar p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.centralizar button{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}